@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&family=Roboto:wght@100;300;400;700&display=swap);

* {
    
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    /* @apply bg-rose-100; */
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3.5em;
}